@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background-color: bg-base-100;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --custom-hero-color: rgba(20, 51, 164, 0.49);
}

.custom-link {
  color: rgb(43, 0, 255);
}

.custom-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.container {
  max-width: 1250px;
}

.slick-slide > div {
  margin: 0 5px;
}

.rotate-90 {
  transform: rotate(90deg);
}

.custom-border {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.145);
  padding-bottom: 8px;
}

.custom-line {
  background-color: rgba(255, 255, 255, 0.145);
}

.light-border {
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.145);
}

.grid-cols-standings {
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

.base-100 {
  color: oklch(0.253267 0.015896 252.418);
}

.input-box {
  background-color: white;
  color: black;
  width: 100%;
  border: 1px solid rgb(0, 203, 176);
  padding: 0 8px;
}

.input-box {
  border: 1px solid rgb(0, 203, 176);
}

@media screen and (min-width: 769px) {
  .slick-arrow {
    /* Your styles for the arrow here */
    display: block !important; /* For example, make it visible */
  }
}

/* For screens below 769px, hide the arrow */
@media screen and (max-width: 768px) {
  .slick-arrow {
    display: none !important; /* Hide the arrow */
  }
}
